@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #202020;
}


::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}
